
# MySQL database configs
MYSQL_ROOT_PASSWORD="changeit"
MYSQL_DATABASE="appdb"
MYSQL_USER="dbuser"
MYSQL_PASSWORD="changeit"
MYSQL_PORT=3306

DATABASE_URL="mysql://dbuser:changeit@0.0.0.0:3306/appdb"
